<h1>Create A New Article</h1>


<form method="POST" action="/articles">
    <div>
    <label for="title">Title: </label>
    <input id="title" type="text" name="title">
    </div>
    <br>
    <div>
    <label for="content">Content: </label>
    <textarea id="content" type="text" name="content"></textarea>
    </div>
    <br>
    <div>
    <input type="submit" value="Submit">
    </div>




</form>